.index-navbar
  .index-navbar__container
    = link_to "appartements", flats_path, class: "index-navbar__item index-navbar__index index-navbar__item_active"
    = link_to "emplacement", "#", class: "index-navbar__item index-navbar__location"
    = link_to "pourquoi réserver ici ?", "#pourquoi-réserver?", class: "index-navbar__item index-navbar__location"
  =link_to "contact", "#contact", class:  "index-navbar__item index-navbar__contact"
.red-box
.blue-box
